{% extends 'base.html' %}
{% block content %}
<div class="destinations" id="destinations">
    <div class="row">
        <div class="col text-center">
            <div class="section_title">
                <h2>Lista de Destinos</h2>
            </div>
        </div>
    </div>
    <div class="destinations_row">
    {% for dest in destinations %}
        <p>
            {{ dest.id }}.-
            <a href='{{ dest.get_absolute_url }}'>{{ dest.nombre }}</a>
            {% if user.is_staff %}
                <a class="home_search_button text-center" style="padding:5px" href="{{ dest.get_absolute_url }}edit">Editar</a>
                <a class="home_search_button text-center" style="padding:5px" href="{{ dest.get_absolute_url }}delete">Eliminar</a>
            {% endif %}
        </p>
    {% endfor %}
    </div>
</div>
{% endblock %}