{% extends 'base.html' %}
{% block title %}
    Lista de Destinations
{% endblock %}
{% block content %}
<div class="destinations" id="destinations">
    <div class="row">
        <div class="col text-center">
            <div class="section_title">
                <h2>Lista de Destinos</h2>
            </div>
        </div>
    </div>
    {% if user.is_staff %}
        <a class="home_search_button text-center" style="font-size:130%; padding:9px" href="/destinations/create">Create Destination</a>
    {% endif %}
    <hr>
    <div class="">
    {% for dest in destinations %}
        <p>
            {% if user.is_authenticated %}
                <div class="news_post_title">
                    <a href='{{ dest.get_absolute_url }}'>{{ dest.id }}.- {{ dest.nombre }}</a>
                </div>
                {% if user.is_staff %}
                    <a class="home_search_button text-center" style="padding:5px" href="{{ dest.get_absolute_url }}edit">Editar</a>
                    <a class="home_search_button text-center" style="padding:5px" href="{{ dest.get_absolute_url }}delete">Eliminar</a>
                {% endif %}
            {% else %}
                <div class="news_post_title">
                    <a href='/accounts/login'>{{ dest.id }}.- {{ dest.nombre }}</a>
                </div>
            {% endif %}
        </p>
    {% endfor %}
    </div>
</div>
{% endblock %}