{% extends 'base.html' %}
{% block title %}
    Mostrar Destination
{% endblock %}
{% block content %}
<hr>
<a class="home_search_button text-center own-button" href="/destinations/">All Destinations</a>
<div class="section_title text-center">
    <h2> Departamento del Perú <h2>
</div>

<div class="destination_image container text-center">
    <img src="{{ dest.img.url }}" alt="image">
    {% if dest.oferta %}
    <div class="spec_offer text-center">
        {% if user.is_authenticated %}
        <a href="destinations/{{ dest.id }}">Oferta Especial</a>
        {% else %}
        <a href="accounts/login">Oferta Especial</a>
        {% endif %}
    </div>
    {% endif %}
    <div class="destination_title">
        <a href="#destination_image">{{ dest.nombre }}</a> <!-- se coloco con el tag a para que siga teniendo el mismo css ademas de redirigir a una clase-->
    </div>
        <div class="destination_subtitle">
            <p>{{ dest.descripcion }} </p>
        </div>
        <div class="destination_price">Precio desde ${{ dest.precio }}
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a class="home_search_button text-center own-button" href="./edit">Editar</a>
                    <a class="home_search_button text-center own-button-delete" href="./delete">Eliminar</a>
                {% endif %}
            {% endif %}
        </div>
        <hr>
</div>
{% endblock %}