{% extends 'base.html' %}
{% block title %}
    Iniciar Sesión
{% endblock %}
{% block content %}
<div class="section_title text-center">
    <h2>Iniciar sesión (Login)</h2>
</div>
<form method="POST" class="container text-center">{% csrf_token %}
    {{ form.as_p }}
    <input class="home_search_button text-center" type="submit" value="Ingresar"/>
</form>
<hr>
<div class="container text-center">
    {% for message in messages %}
        <h4>{{ message }} </h4>
    {% endfor %}
</div>
<hr>
{% endblock %}